/* html {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
} */
html,
body {
  height: 100%;
  margin: 0px;
  background-color: rgb(101, 123, 223);
}
#root {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
}
.parent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
\.game {
  margin-top: 20px;
  min-height: 300px;
  /* border: 2px solid sandybrown; */
}
.status {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(56, 44, 44, 0.226);
  color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
.container {
  display: flex;
  flex-direction: column;
}
.game-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25vh auto;
  z-index: 2;
  /*  */
  background-color: rgba(73, 74, 148, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}
.board-row {
  display: flex;
}
.square {
  min-width: 50px;
  min-height: 50px;
  background-color: rgb(164, 209, 230);
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  text-align: center;
  margin-right: -1px;
  margin-top: -1px;
}
.square:focus {
  outline: none;
  background: rgb(200, 163, 192);
}

.restart {
  margin-top: 10px;
  border: 1px solid rgb(25, 56, 158);
  color: whitesmoke;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: rgba(56, 44, 44, 0.226);
}
.title {
  background-color: rgba(56, 44, 44, 0.226);
  color: whitesmoke;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 20px;
}
.particles {
  z-index: -1;
}
