/* html {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
} */
html,
body {
  height: 100%;
  margin: 0px;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.parent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  /* background-color: #ffff00; */
}
.game {
  min-height: 300px;
  /* border: 2px solid sandybrown; */
}
.status {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
}
.board-row {
  display: flex;
}
.square {
  min-width: 50px;
  min-height: 50px;
  background-color: rgb(164, 209, 230);
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  text-align: center;
  margin-right: -1px;
  margin-top: -1px;
}
.square:focus {
  outline: none;
  background: rgb(200, 163, 192);
}

.restart {
  margin-top: 10px;
  border: 2px solid rgb(25, 56, 158);
  background-color: grey;
  color: antiquewhite;
  padding: 5px;
  font-size: 16px;
}
